/*=====DEFAULT-CSS======*/



/*====Google-fonts=====*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*===================*/

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
container-full{
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;  
}
.container{
 width: 1200px;
 margin: 0 auto; 
 padding: 0 15px;
}
.col-50{
    width: 50%; 
    float: left;
    padding: 0 15px;
}
.col-33{
    width: 33.33%;
    float: left;
    padding: 0 15px;
}
.col-25{
    width: 25%;
    float: left;
    padding: 0 15px;
}
.col-30{
    width: 30%;
    float: left;
    padding: 0 15px;
}
.col-70{
    width: 70%;
    float: left;
    padding:0 15px;
}
.col-20{
    width: 20%;
    float: left;
    padding: 0 15px;
}
.col-80{
    width: 80%;
    float: left;
    padding: 0 15px;
}

.col-100{
    width: 100%;
    float: left;
    padding: 0 15px;
}
.col-60{
    width: 60%;
    float: left;
    padding: 0 15px;
}
.col-40{
    width: 40%;
    float: left;
    padding: 0 15px;
}
.col-45{
    width: 45%;
    float: left;
    padding: 0 15px;
}
.col-55{
    width: 55%;
    float: left;
    padding: 0 15px;
}
.col-15{
    width: 15%;
    float: left;
    padding: 0 15px;
}


.container:before,
.container:after,
.container-full:before,
.container-full:after{
    content: "";
    display: table;
    clear:both;
}


/*=======DEFAULT-css-END========*/

/*
font-family:'Rajdhani', sans-serif;
font-family: 'Rubik', sans-serif;
*/


body{
    font-family: 'Rajdhani', sans-serif;
}
p{
    font-family:font-family: 'Rubik', sans-serif; ;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    height: 100%;
    width: 100%;
}
.section-padding{
    padding: 100px 0;
}
.display-flex{
    display: flex;
}
/*========01.top-header-css-start========*/

.top-header{
    background: #0e0a38;
    padding: 10px 0;
    color: #fff;
    
}
.socail-media ul{
    list-style: none;
    display: flex;
    
}
.socail-media li{
    margin: 20px 15px;
}

.search-box{
    position: relative;
    margin-top: 13px;
}

.search-box input{
    background:#27234C ;
    border-style: none;
    padding: 15px 40px 15px  15px;
    border-radius: 5px;
    text-transform: capitalize;
}

.search-box i{
    position: absolute;
    right: 60px;
    top: 15px;
    opacity: 0.5;
    cursor: pointer;

}

.socail-media a{
    color: #fff;
    transition: 0.2s;
    line-height: 28px;
    font-size: 14px;
}
.socail-media{
    float:right;
}
.socail-media a:hover{
    color:#ff630e ;
}

.email-number {
   
     float: right;
     padding-top: 20px;
}
.email-number span{
   margin-left:  20px; 
   font-size: 15px;
   font-weight: 300;
   font-family: 'Rubik', sans-serif;
}
.email-number span i{
    padding-right:5px ;
}
ul{
    list-style: none;
}

/*========01.top-header-css-end========*/

/*========02.header-css-end========*/
.header{
    padding: 20px 0;
}
.header a{
    text-decoration: none;
    
}
.main-menu{
    display: flex;
    float: right;
    list-style: none;
    margin: 15px 0;

}
.logo img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.main-menu li{
    padding: 0 15px;
    color:black ;
    font-family: 'Rajdhani', sans-serif;
    font-weight:700 ;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    
}
.main-menu li a{
    text-decoration: none;
    transition: 0.3s;
    color: black;
}
.main-menu li a:hover{
    color: #ff630e;
}

.cart{
  position: relative;
}

.cart::before{
    content: "0";
    position: absolute;
    height:20px ;
    width: 20px;
    background: #ff630e;
    border-radius: 50%;
    top:-9px;
    right: -11px;
    text-align: center;
    size: cover;
    font-size: 13px;
    height: auto;
    width: 15px;
    color:#fff;
    padding: 2px;
}
.login a{
    font-family: 'Rubik', sans-serif;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 16px;
    padding: 8px 15px;
    transition: 0.3s;
    
}
.login{
    background: #ff630e;
    padding: 10px 0px;
    border-radius: 5px;
    display: flex;
    margin-left:50px;
    text-align: center;
   
}
.log{
    border-right: 1px;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    color: #fff;
    border-style: solid;
    margin-left: 5px;
}
.login a:hover{
    color: #0e0a38;
}

/*========02.header-css-end========*/

/*-===home-css-start===*/
.home{
    background: url("../IMG/cover.jpg");
    size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 0;
    height: 680px;
    width: auto;
    position: relative;
    z-index: 1;
}
.home::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0e0a38;;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: -1;

}
.home-content{
    text-align: center;
    color: #fff;
}
.home-content h5{
    color: #ff630e;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
}
.home h1{
    color:#fff;
    font-size: 70px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 10px 0 20px 0;
    line-height: 80px;

}
.home-content p{
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
    padding-bottom:30px ;
}
.btn{
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background:#fff;
    color: #ff630e;
    padding: 15px 30px;
    display: inline-block;
    transition: 0.3s;
    border-radius: 5px;
    margin: 15px;

}
.btn-active{
    background: #ff630e;
    color: #fff;
}
.btn:hover{
    background: #ff630e;
    color: #fff;
    
}
.btn-active:hover{
  background: #fff;
  color: #ff630e;
}
.home-btn a{
   text-decoration: none;
}
.home-btn{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}
/*-===home-css-end===*/

/*--===0.4category-css-start===--*/
.category{
    padding: 100px 0;
}
.section-title{
    text-align: center;
}
.ctg-content{
    text-align: center;
    margin-top: 20px;
    
    
}
.section-title span{
    font-size: 16px;
    color: #ff630e;
    text-transform: uppercase;
    font-weight: 600;
}
.section-title h2{
    font-size: 45px;
    color:#130F40 ;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Rajdhani', sans-serif;
    padding: 15px 0 50px 0 ;
}
.ctg-single{
    -webkit-box-shadow: 0px 0px 18px -3px rgba(0,0,0,0.63); 
box-shadow: 0px 0px 18px -3px rgba(0,0,0,0.63);
padding: 35px 10px;
text-align: center;
border-radius: 5px;
}
.ctg-content h3 a{
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 34px;
    color: #130F40;
    font-family: 'Rajdhani', sans-serif;
    transition: 0.3s;
}
.ctg-single img{
    border-radius: 5px;
}
.ctg-content a:hover{
    color: #ff630e;
    font-weight:700;
}

.ctg-btn{
    text-align: center;
    padding: 100px 0;
    font-size: 14px;
}

/*--===0.4 catagory-css-end===--*/

/*--===0.5 courses-css-start===--*/
.courses-block-single ul{
 display: flex;
 list-style: none;
}
.courses{
    background: #f7f7f7;
    padding-top: 100px;
    padding-bottom: 200px;
}
.courses-block-single {
    background:#ffffff ;
    margin-bottom: 30px;
    border-radius: 10px;
    
    
    
}
.courses-block-img img{
  height: 260px;
  width: 100%;
   border-radius: 10px; 
}
.courses-block-content{
    padding: 35px;
    display: inline-block;
}
.price{
    color: #ff630e;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
}
.courses-block-content ul i{
    color: #f4c150;
}
.courses-block-content h3 a{
    font-size: 24px;
    text-transform: capitalize;
    line-height: 34px;
    transition: 0.2s;
    padding: 25px 0;
    
}
.courses-block-content h3 a:hover{
    color: #ff630e;
    
}
.last{
    margin-bottom: 100px;
}
.courses-block-footer{
    color: #696969;
    border-top: 1px solid #696969;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}
.user{
    float: right;
}
.courses-btn{
    padding: 30px 0;
}

/*--===courses-css-ends===--*/

/*--===offer-css-start===--*/
.offer{
    background-color: #0e0a38;
    padding-bottom: 100px;
    
}

offer-left img{
    width: 100%;
    height: 100%;
}
.offer-right h6{
    color: #ff630e;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.offer-right h3{
    font-size: 45px;
    text-transform: capitalize;
    font-weight: 700;
    color: #fff;
    line-height: 55px;
    padding: 30px 0;
}
.offer-right p{
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}
.counter{
    padding: 50px 0;
}

.counter li{
   color: #fff;
   font-size: 36px;
   font-weight: 700;
   display: inline-block;
   padding-right: 70px;
   text-align: center;
   text-transform: capitalize;
}
.counter span{
    font-size: 16px;
    font-weight: 300;
    display: block;
}
.offer-right{
    padding: 109px 0 110px 40px;
    background:#0e0a38 ;
}
.offer-right a{
    transition: 0.2s;
    background: #f7f7f7;
    color: #ff630e;
    font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 600;
}
.offer-right a:hover{
    background: #ff630e;
    color: #fff;
}
.offer-event{
    margin-top: -100px;
    
    
}
.offer-left{
    border-radius:0 0 5px 5px;
    border: 10px solid white;
}
.offer .col-45,
.offer .col-55{
    padding: 0;
}
.offer-left{
    border-radius:0 10px 10px 0;
}
 
/*--===offer-css-ends===--*/

/*--===testomonial===--*/
.testomonial ul{
    display: flex;
    color: #f4c150;
    padding-bottom: 15px;
}
.text-author-left img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 25px;
}
.text-author{
    display: flex;
    padding: 35px 0;
}
.text-box span i{
    font-size: 50px;
    color: #ff630e;
    padding: 10px;
}
.text-box p{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #696969;
    font-weight: 300;
}
.text-box{
    -webkit-box-shadow: 0px 1px 16px 5px rgba(0,0,0,0.24); 
    box-shadow: 0px 1px 16px 5px rgba(0,0,0,0.24);


border-radius: 10px;
padding: 30px 50px;
 background: #fff;
 margin-top: 44px;
}
.text-box-middle{
  
    margin-top: -17px;
}
.section-title{
    font-size: 45px;
    line-height: 55px;
    color: #130F40;
    font-family:'Rajdhani', sans-serif;
    font-weight: 800;

}
/*--===testomonial-end===--*/

/*---===news-letter-css-start===---*/

.news-box{
    padding: 70px 40px 100px 40px;
    background: url("../IMG/bg-1.png");
    border-radius: 50px;
    position: relative;
}
.news-box::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #03132D;
    
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 50px;
}
.news-box h2{
    font-size: 45px;
    line-height: 50px;
    color: #fff;
    text-transform: capitalize;
    font-family:'Rajdhani', sans-serif;
   
    
}

   

.news-box input{
    padding: 17px 70px;
    margin-bottom: 70px;
    position: relative;
    border-radius: 5px 0 0 5px;
    border-style: none;
    text-align: center;
    text-transform: uppercase;


}
.news-box a{
    text-decoration: none;
    background: #ff630e;
    padding: 14px;
    position: absolute;
    right: 40px;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-weight: 700;
}
.search{
    margin-left: 80px;
}

/*---===news-letter-css-ends===---*/

/*--==about-css-start==--*/
.about-left h2{
    font-family:'Rajdhani', sans-serif;
    font-size: 45px;
    color: #130F40;
    font-weight: 700;
    padding-bottom: 25px;
}
.about-left p{
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #696969;
    padding: 10px 0;
}
.about-box{
  padding-right: 25px;
}

.about-top-content{
    display: flex;
    padding-bottom: 50px;
}
.about-icon{
    padding-right: 25px;
    font-size: 50px;
    color: #ff630e;
}
.about-top-content h3{
    font-family:'Rajdhani', sans-serif;
    font-size: 24px;
    line-height: 34px;
    color: #130F40;
    padding-bottom: 20px;
}
.about-top-content p{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #696969; 
}
.about-left a{
    background: #ff630e;
    padding: 15px 25px;
    margin-top: 30px;
    font-family:'Rajdhani', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#FFFFFF ;
    border-radius: 5px;
    transition: 0.2s;
}
.about-left a:hover{
   background-color: #130F40;
}
.about{
    background: #ffffff;
}
/*--==about-css-end==--*/

/*---===trainer-css-start===---*/

.trainer-img-1{
    background: url("../IMG/instructor-1-1.jpg");
   
    
}
.trainer-img-2{
    background: url("../IMG/instructor-2-1.jpg");
  
    
}
.trainer-img-3{
    background: url("../IMG/instructor-3.jpg");
   
    
}
.trainer-img-4{
    background: url("../IMG/instructor-4-1.jpg");
    
    
}

.trainer-img{
    background-size:cover;
    background-position: center;
    height:282px;
    width: 252px;
    background-repeat: no-repeat;
    position: relative;
}

.trainer{
   background:#f6f6f6 ; 
   transition: 0.5s;
}

.trainer-box{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
}
.trainer-box:hover{
    box-shadow: -9px 6px 38px -3px rgba(0,0,0,0.5);
    -webkit-box-shadow: -9px 6px 38px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: -9px 6px 38px -3px rgba(0,0,0,0.5);
}
.trainer-icon{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 30px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.5s;
}
.trainer-box:hover .trainer-icon{
   opacity: 1;
   bottom: 15px;
}
.trainer-icon li{
 background: #ff630e;
 padding: 10px 15px;
 
}
.trainer-icon a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
.trainer-icon a:hover{
    color: #03132D;
}
/*---===trainer-css-end===---*/

/*---===latest-news-css-start===---*/
.latest-news{
    background:#fff ;
}
.latest-news-box{
    box-shadow: -3px 1px 15px 13px rgba(0,0,0,0.08);
-webkit-box-shadow: -3px 1px 15px 13px rgba(0,0,0,0.08);
-moz-box-shadow: -3px 1px 15px 13px rgba(0,0,0,0.08);

  transition: 0.2s;
}

.latest-news-box:hover{
    
Inset
box-shadow: 1px -1px 5px 13px rgba(0,0,0,0.08);
-webkit-box-shadow: 1px -1px 5px 13px rgba(0,0,0,0.08);
-moz-box-shadow: 1px -1px 5px 13px rgba(0,0,0,0.08);
}
.latest-news-img img{
    width: 360px;
    height: 226px;
}
.latest-news-content{
    padding: 35px;
}
.latest-news-content ul{
    display: flex;
    margin-bottom: 10px;
}
.latest-news-content li{
    margin-right: 20px;
    
}
.latest-news-content li i{
    color: #ff630e;
    margin-right: 5px;
}
.latest-news-content span{
    font-size: 15px;
    line-height: 28px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #696969;
}
.latest-news-content h2{
    tab-size: 24px;
    line-height: 34px;
    color: ##130F40;
    font-weight: 700;
    font-family:'Rajdhani', sans-serif;
    margin-bottom: 10px;
    transition:0.3s;
}
.latest-news-content p{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color:#696969 ;
    tab-size: 16px;
    line-height: 28px;

}
.latest-news-content h2:hover{

     color: #ff630e;

}
/*---===latest-news-css-end===---*/
.footer{
    background: #0e0a38;
}
.footer-single a img{
   
      margin-bottom: 15px;
      width: 160px;
      height: 36px;

}
.footer-single p{

    font-size: 16px;
    line-height: 28px;
    color: #DEDEDE;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;

}
.footer-single h4{
    color: #DEDEDE;
    font-size: 20px;
    line-height: 19.2px;
    margin-bottom: 20px;
}
.footer-single ul{
    display: flex;
}
.footer-single li{
    margin-right: 25px;
    font-size: 20px;
    color: #f6f6f6;
}
.footer-single li a{
    color: #f6f6f6;
}
.footer-category h5{
   
    font-size: 20px;
    line-height: 30px;
    color: #DEDEDE;

}
.footer-category ul{
    display: block;
}
.footer-category a{
    font-size: 18px;
    line-height: 28px;
    color: #DEDEDE;
}
.footer-category a i{
    color: #ff630e;
    font-size: 13px;
    margin-right: 10px;
}
.footer-category li{

    margin: 25px 0;

}
.footer-recent h5{
    font-size: 20px;
    line-height: 30px;
    color: #f6f6f6;
    margin-bottom: 15px;
}
.recent-box{
    display: flex;
}
.recent-box img{
    width: 100px;
    height: 100px;
    margin-right: 15px;
}
.recent-content h6{
    font-size: 15px;
    line-height: 25px;
    color: #f6f6f6;
    ;
}
.recent-content p{
    font-size: 12px;
    line-height: 20px;
    color: #DEDEDE;
}
.contact-us h5{
    font-size: 20px;
    line-height: 30px;
    color: #DEDEDE;
    margin-bottom: 15px
}
.contact-us ul{
    display: block;
}
.listing{
    display: flex;
}
.listing i{
    margin-right: 10px;
    font-size: 20px;
    margin-top: 5px;
    color: #ff630e;
}
.contact-us span{
    
    color: #DEDEDE;
    font-size: 16px;
    line-height: 24px;

}
.us{
   
    margin-top: 50px;
}